.bgcolor{
  background-color: lightblue;
  background-size: cover;
  width:100vw;
}

:root {
    --background-modal-color: #fff;
    --body-color: #fff;
    --color-timeline-default: #D2D3D8;
  
  }
  
  .wrapper {
    font-family: "Muli", sans-serif;
    padding: 0;
    margin: 50px;
    display: flex;
    width: 100vw;
    height:40vh;
    justify-content: center;
    align-items: center;
   
  }
  
  .main-container {
    
    justify-content: center;
    flex-grow: 1;
    border-radius: 5px;
   
  }
  .main-container .steps-container {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-container .steps-container .step {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
    flex-grow: 0;
   
    border: 4px solid var(--color-timeline-default);
    border-radius: 50%;
  }
  
  .main-container .steps-container .step .label {
    position: absolute;
    top: 30px;
    filter: none;
    z-index: 2000;
    color: var(--color-label-default);
    transition: all 200ms ease;
    font-weight: 700;
  }
  .main-container .steps-container .step .label.completed {
    color: var(--color-label-completed);
  }
  .main-container .steps-container .step .icon.completed {
    color: var(--color-icon-completed);
  }
  .main-container .steps-container .step .icon.in-progress {
    color: var(--color-in-progress);
  }
  .main-container .steps-container .line {
    transition: all 200ms ease;
    height: 2px;
    flex-grow: 1;
    max-width: 120px;
    background: var(--color-timeline-default);
  }
  
  .icon {
    font-size: 20px;
    color: var(--color-icon-default);
    transition: color 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-timeline-default);
  }
  
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
.card {
  margin-top:50px;
}  

.aeroicon{
  text-align: center;
}

.icon{
  font-size: 100px;
  color:blue;
}
.image{
  height:60px;
  width:150px;
  margin: 0 auto;
}

button{
  margin:40px;
  background-color: blueviolet;
  width:100px;
  border-radius: 15px;
  border-width: 0px;
}
